<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap-theme.css}">
    <meta charset="UTF-8">
    <title>当前在线用户</title>
</head>
<body>
<table class="table table-striped">
    <tr>
        <td style="font-size: 24px;color: green;">当前在线人数：<span style="color: green;font-size: 24px" th:text="${users.size()}"></span></td>

    </tr>
</table>
    <table class="table table-striped">
        <thead>
            <tr>
                <td>No</td>
                <td>UserName</td>
                <td>FullName</td>
                <td>AreaId</td>
                <td>SysId</td>
            </tr>
        </thead>
        <tbody>
            <tr th:each="user:${users}">
                <td th:text="${userStat.index+1}">1</td>
                <td th:text="${user.userName}">1</td>
                <td th:text="${user.fullName}">1</td>
                <td th:text="${user.areaId}">1</td>
                <td th:text="${user.sysId}">1</td>
            </tr>
        </tbody>
    </table>
</body>
</html>